<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head"); %>
    <title>Document</title>
</head>
<body>

    <main class="row">
        <h1 class="col-12">Choose Questions for Recruiters to Answer</h1>
        <nav class="col-12 col-md-3">
            <h3>Categories:</h3>
            <ul>
                <% for (i = 1; i < 8; i++) { %>
                    <% const catQuestions = categories.filter(category => category.categoryid_pk === i); %>
                    <% var catHref = "#catId" + catQuestions[0].categoryid_pk; %>
                    <li>                 
                        <a  href=<%= catHref %> ><%= catQuestions[0].category %></a>
                    </li>
                <% } %>
            </ul>
        </nav>
        
        <div class="col-12 col-md-9">
            <form id="choose-form">
                <% for (i = 1; i < 8; i++) { %>
                    <% const catQuestions = categories.filter(category => category.categoryid_pk === i); %>
                    <% if (catQuestions) { %>
                        <% const catId = "catId" + catQuestions[0].categoryid_pk; %>
                        <h4 id=<%= catId %> ><%= catQuestions[0].category %></h4>
                        <% catQuestions.forEach(question => { %>
                            <% var idString = question.Questions.questionid_pk.toString(); %>
                            <input type="checkbox" id=<%= idString %> >
                            <label for=<%= idString %> ><%= question.Questions.question_text %> </label>
                            <p>Question type: <%= question.Questions.question_type %></p>
                        <% }); %>
                    <% } %>
                <% } %>

                <input type="submit" value="Submit">
            </form>
        </div>
    </main>

    <%- include("./partials/footer"); %>
</body>
</html>